main {
    left: 50%;
    padding: 20px;
}

.submit {
    max-width: 1000px;
    margin: 2rem auto;
    border: 2px solid #313131;
    padding: 1.5rem;
}

.interestDiv {
    margin-top: 10px; 
    position: relative;
}

.checkB {
    display: flex;
}

.result {
    max-width: 1000px;
    margin: 2rem auto;
    border: 2px solid #313131;
    padding: 1.5rem;
}

#submit {
    position: relative;
    left: 50%;
    translate: -50%;
}