main {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    translate: -50% -50%;
}

.submit {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #313131;
    padding: 1.5rem;
}


label{
    display: block;
    font-weight: bold;
}

input {
    margin: 3px;
}

button {
    position: relative;
    left: 50%;
    translate: -50%;
}

p {
    font-size: 20px;
}